@charset "UTF-8";

.calculator {
  width: 235px;
  height: 320px;
  border: 5px;
  overflow: hidden;
  border-radius: 10px;

  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 1fr 48px 48px 48px 48px 48px;
}
